.item {

}

.users {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.buttonsContainer {
    display: flex;
    justify-content: end;
    gap: 12px;
    margin-bottom: 18px;
}

.container {
    width: 606px;
    min-height: 345px;
}

.thead {
    background: #E5E5E5;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
}

.nameCol {
    width: 50%;
    padding: 11px 17px 9px;
    text-align: left;
}

.ageCol {
    text-align: left;
}


tr {
    height: 36px;
    border-bottom: 1px solid #E5E5E5;
}

/* Стили для ячеек */
td {
    padding: 11px 17px 9px;
    font-size: 14px;
}


th {
    padding: 11px 17px 9px;
    text-align: left;
    font-weight: 600;
    border-bottom: 1px solid #E5E5E5;
}