.sendForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
    gap: 44px;
    position: relative;

}

/*.sendForm::after{*/
/*    content: '';*/
/*    display: block;*/
/*    width: 100vw;*/
/*    border-bottom: 2px solid #D9D9D9;*/
/*    !*left: -70px;*!*/
/*    right: 0;*/
/*    !*bottom: -35px;*!*/
/*    position: absolute;*/

/*}*/

.textarea {
    height: 40px;
    width: 100%;
    border: none; /* Убирает рамку */
    border-radius: 20px;
    outline: none; /* Убирает контур при фокусе */
    resize: none; /* Отключает возможность изменения размера */
    padding: 10px; /* Добавляет внутренние отступы */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
    font-size: 14px; /* Размер шрифта */
    background-color: #f3f5f9; /* Цвет фона */
    display: flex;
    flex-grow: 1;

}

.button {
    width: 120px;
    height: 40px;

    background: #0066CC;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border-radius: 20px;
}

.button:hover {
    background: #0d7ded;
}

.button:active {

}
