.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    height: 30px;
    border-radius: 3px;
    background: #0066CC;
    color: #FFFFFF;
    font-size: 14px;

}

.disabled {

    opacity: 50%;
}

.secondary {

    background: white;
    color: #0066CC;
    border: 1px solid #0066CC;

}

.default {
    background: gray;

}

.red {
    background: #CC1439;
}

.default:hover {
    background: #1fbc45
}

.red:hover {
}

.secondary:hover {
    background: #1fbc45
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
